<%= error_messages_for 'photo' %>
<!--[form:photo]--> 
<p><label for="photo_created_at">Created at</label><br/> 
<%= datetime_select 'photo', 'created_at'  %></p> 
<p><label for="photo_filename">Filename</label><br/> 
<%= text_field 'photo', 'filename'  %></p> 
<p><label for="photo_thumbnail">Thumbnail</label><br/> 
<%= text_field 'photo', 'thumbnail'  %></p> 
<p><label for="photo_description">Description</label><br/> 
<%= text_field 'photo', 'description'  %></p> 
<!--[eoform:photo]--> 
