<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @pagetitle || (@page && @page.title) || 'Mojavee.com' %></title>
    <%= stylesheet_link_tag 'learningrails' %>
    <%= javascript_include_tag  :defaults %>
</head>

 <body>
    <div id='pagewrapper'>
      <div id='header'>
        <p>Mojavee</p>
      </div>
      <div id='navbar'>
        <ul>
          <% @tabs.each do |page|  -%>
              <% unless page.admin?  -%>
                <li> 
                  <%=link_to page.navlabel, view_page_path(page.name)  %> 
                </li>
                <%else -%>
                  <% if logged_in? -%>
                   <li> 
                  <%=link_to page.navlabel, view_page_path(page.name)  %> 
                </li> 
                   <%end -%>
              <% end -%>
            <% end  -%>
            
             <% if logged_in? -%>
                   <li> 
                  <%=  link_to  "Log Out", logout_path  %> 
                </li> 
                   <%end -%>
            <li>
              <%= link_to "Video", "/vid/show"  %> 
            </li>      
          </ul>
        </div>
        <div id='content'>
          <h2> <%= flash[:notice]  %> </h2>
          <%= yield %>
        </div>
        <div id='footer'>
          <p><a href="http://redingerdressage.com">Redinger Dressage </a></p>
        </div>
      </div>
        <% #if ENV["RAILS_ENV"] == "development" %>
        <hr>
        <%= debug (params) %>
    <% #end %>

    </body>
  </html>
